flows (3).json
[{"id":"fb47ce2.20f533","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"97613fe2.5f4c1","type":"inject","z":"fb47ce2.20f533","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["5e759f6b.8f7ba"]]},{"id":"78932c7f.d15674","type":"ui_form","z":"fb47ce2.20f533","name":"","label":"","group":"9272b9f0.6ad5d8","order":0,"width":0,"height":0,"options":[{"label":"YEAR","value":"a","type":"number","required":true,"rows":null},{"label":"ADULT MORTALITY","value":"b","type":"number","required":true,"rows":null},{"label":"INFANT DEATHS","value":"c","type":"number","required":true,"rows":null},{"label":"ALCOHOL","value":"d","type":"number","required":true,"rows":null},{"label":"PERCENTAGE EXPENDITURE","value":"e","type":"number","required":true,"rows":null},{"label":"HEPATITIS B","value":"f","type":"number","required":true,"rows":null},{"label":"MEASLES","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"UNDER-FIVE DEATHS","value":"i","type":"number","required":true,"rows":null},{"label":"POLIO","value":"j","type":"number","required":true,"rows":null},{"label":"TOTAL EXPENDITURE","value":"k","type":"number","required":true,"rows":null},{"label":"DIPHTHERIA","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"POPULATION","value":"o","type":"number","required":true,"rows":null},{"label":"THINNESS 1-19 YEARS","value":"p","type":"number","required":true,"rows":null},{"label":"THINNESS 5-9 YEARS","value":"q","type":"number","required":true,"rows":null},{"label":"INCOME COMPOSITION OF RESOURCES","value":"r","type":"number","required":true,"rows":null},{"label":"SCHOOLING","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":90,"y":180,"wires":[["5e759f6b.8f7ba"]]},{"id":"5e759f6b.8f7ba","type":"function","z":"fb47ce2.20f533","name":"pre-token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nvar apikey=\"GF4BlHB_3zBELxhZehlES-rZDxuiXTFqxkkeSNNhdGrh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["adf5d682.1b5be8"]]},{"id":"adf5d682.1b5be8","type":"http request","z":"fb47ce2.20f533","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":220,"wires":[["b52309cc.5e7bd8"]]},{"id":"b52309cc.5e7bd8","type":"function","z":"fb47ce2.20f533","name":"pre-prediction","func":"var a = global.get('a');\nvar b = global.get('b');\nvar c = global.get('c');\nvar d = global.get('d');\nvar e = global.get('e');\nvar f = global.get('f');\nvar g = global.get('g');\nvar h = global.get('h');\nvar i = global.get('i');\nvar j = global.get('j');\nvar k = global.get('k');\nvar l = global.get('l');\nvar m = global.get('m');\nvar n = global.get('n');\nvar o = global.get('o');\nvar p = global.get('p');\nvar q = global.get('q');\nvar r = global.get('r');\nvar s = global.get('s');\nvar token=msg.payload.access_token;\nvar instance_id=\"10b3e778-bdf6-4333-94a8-90cf3fa8e017\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"fields\": ['Year', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["86281247.9b7d7"]]},{"id":"86281247.9b7d7","type":"http request","z":"fb47ce2.20f533","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/10b3e778-bdf6-4333-94a8-90cf3fa8e017/deployments/9ef3a4fd-4454-471f-8ff1-a5cf8755347a/online","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["4c091b7e.d393f4"]]},{"id":"4c091b7e.d393f4","type":"function","z":"fb47ce2.20f533","name":"end-point","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["7439110c.fbc2a","5a35d02e.5849a"]]},{"id":"7439110c.fbc2a","type":"debug","z":"fb47ce2.20f533","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":80,"wires":[]},{"id":"5a35d02e.5849a","type":"ui_text","z":"fb47ce2.20f533","group":"9272b9f0.6ad5d8","order":1,"width":0,"height":0,"name":"","label":"Approx Life expectancy rate","format":"{{msg.payload}}","layout":"col-center","x":920,"y":160,"wires":[]},{"id":"9272b9f0.6ad5d8","type":"ui_group","z":"","name":"Prediction","tab":"b850f48e.9af908","order":1,"disp":true,"width":"6","collapse":false},{"id":"b850f48e.9af908","type":"ui_tab","z":"","name":"Life_Expectancy","icon":"dashboard","disabled":false,"hidden":false}]